.bg-clear {
    background: url('./src/weatherImages/weather-clear.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.bg-clouds {
    background: url('./src/weatherImages/weather-clouds.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.bg-rain {
    background: url('./src/weatherImages/weather-rain.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.bg-snow {
    background: url('./src/weatherImages/weather-snow.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.bg-thunderstorm {
    background: url('./src/weatherImages/weather-thunderstorm.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.bg-fog {
    background: url('./src/weatherImages/weather-fog.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

#app-container {
    position: relative;
}
#app-container::before {
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    display: block;
}
#app-container > div {
    z-index: 100;
}
